﻿/*
Theme Name: Flow Child
Description: hn-websolutions.com Theme
Author: Alexander Heit
Author URI: hn-websolutions.com
Template: flow-responsive
Version: 1.0
*/

body {
    font-family: 'Open Sans', sans-serif !important; /* hier kann die Schriftart eingestellt werden */
}

.red {
    color: #ff0000;
}

p.big {

}

.underline {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.content-slider {
    min-height: 130px;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

ul {
    padding-left: 30px;
}

.lne-video-button a {
    padding: 10px;
}

.header {
    position: relative;
    border-bottom: none;
}

.header .container {

}

.header .container .logo {
    padding: 0px;
    max-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header .container .logo img {
    max-height: 70px;
}

.feature {
    position: relative;
    background-image: url('img/bg-body.jpg');
    padding-top: 20px;
    overflow: auto;
}

.feature-no-slider {
    background-color: #fff;
    background-image: none;
}

.feature-without-slider {
    padding: 0px;
    padding-left: 10px;
}

.lne-bilder-gallerie, .lne-bilder-gallerie img {
    width: 600px !important;
    height: 350px !important;
}

.lne-bilder-gallerie .carousel-caption {
    display: none !important;
}

#topSlider {

    /*damit das submenü perfekt überlappt*/
    padding-left: 1px;
    padding-right: 2px;

    margin: 20px auto;
    max-width: 1169px;
}

.navbar-right {
    margin-right: -30px;
}

#main-menu > li {
    margin-top: 20px;
}

.lne-desktop-menu nav {
    background: #44494B;
}

.lne-desktop-menu nav > ul {
    width: 1170px;
    margin: 0 auto;
    overflow: auto;
    padding: 0px;
    border-right: 1px solid #222;
    border-left: 1px solid #555;

}

.lne-desktop-menu nav ul li:hover ul {
    display: block;
    list-style: none;
}

.lne-desktop-menu .top-menu-item {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    margin: 0px;
    border-left: 1px solid #222;
    border-right: 1px solid #555;
}

.lne-desktop-menu .top-menu-item a {
    display: block;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.lne-desktop-menu .linkstack {
    display: none;
    background: #fff;
    position: absolute;
    width: 233px;
    margin-left: -1px;
    padding: 0px;
    z-index: 10000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.lne-desktop-menu .linkstack a {
    font-size: 18px;
    display: block;
    float: none;
    width: 100%;
    padding: 0 0 0 0;
    text-align: left;
    margin: 0 0 0 0;
    background: none;
    color: #000;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0;
    border-bottom: 1px dashed #ddd;
    text-shadow: none;
}

.lne-desktop-menu .linkstack li.group {
    display: block;
    margin: 0 0px;
    width: 100%;
    float: left;
    padding: 0px;
}

.lne-desktop-menu .linkstack li.group .sub-menu {
    width: 100%;
    padding: 0px;
    padding-left: 10px;
}

.lne-desktop-menu .linkstack li.group .sub-menu a {
    font-weight: 300;
    margin: 0 0 0 0;
    border: 0;
    font-size: 16px;
    text-transform: none;
    padding-left: 20px;
    background-position: 5px 7px;
    background-size: 6px 10px;
    background-repeat: no-repeat;
    background-image: url("img/lne-angle-right.png");
    margin-bottom: 5px;

}

.lne-mobile-menu-item {
    display: none;
}

.lne-desktop-menu nav li.top-menu-item:hover a {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    color: #000;
}

.lne-desktop-menu nav li.top-menu-item:nth-child(1):hover,
.lne-desktop-menu nav li.top-menu-item:nth-child(1):hover ul {
    background: #fff;
}

.lne-desktop-menu nav li.top-menu-item:nth-child(2):hover,
.lne-desktop-menu nav li.top-menu-item:nth-child(2):hover ul {
    color: #000;
    background: #ff6666;
}

.lne-desktop-menu nav li.top-menu-item:nth-child(3):hover,
.lne-desktop-menu nav li.top-menu-item:nth-child(3):hover ul {
    color: #000;
    background: #ffd320;
}

.lne-desktop-menu nav li.top-menu-item:nth-child(4):hover,
.lne-desktop-menu nav li.top-menu-item:nth-child(4):hover ul {
    color: #000;
    background: #83caff;
}

.lne-desktop-menu nav li.top-menu-item:nth-child(5):hover,
.lne-desktop-menu nav li.top-menu-item:nth-child(5):hover ul {
    color: #000;
    background: #66cc99;
}

#slider-127 .lne-caption {
    position: absolute !important;
    top: 0px;
    right: 75px;
    width: 320px;
    border: 1px solid #D58152;
    border-top: none;
    background-color: rgba(213, 129, 82, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}

#slider-127 .lne-caption h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-top: 5px;
}

.lne-caption a {
    color: #fff;
}

.lne-box {
    border: 1px solid #d6d6d6;
    padding: 10px;
    min-height: 270px;
}

.lne-box a.more {
    margin-top: 10px;
    color: #000;
    text-decoration: underline;
    display: block;
    font-weight: normal;
}

.sidebar .lne-box {
    margin-bottom: 20px;
    padding-top: 0px;
}

.sidebar .lne-box h3 {
    padding-top: 0px;
    font-size: 17px;
    font-weight: bold;
}

.lne-kontakt-box, .lne-events-box, .lne-zertifizierung-box {
    background-position: top 15px right 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.lne-kontakt-box {
    background-image: url('img/kontakt-icon.png');
}

.lne-events-box {
    background-image: url('img/termine-icon.png');
}

.lne-zertifizierung-box {
    background-image: url('img/zertifizierung-icon.png');
}

.lne-box h3 {
    border-bottom: 2px dotted #000;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lne-box p {
    margin: 0px;
    margin-top: 10px;
}

.section:last-child .container, .main-sidebar-right .container:first-child {
    background-position: bottom left 10px;
    background-size: 500px 500px !important;
    background-repeat: no-repeat;
    background-image: url('img/kompass.png') !important;
    background-color: #fff;
}

.section {
    background-color: transparent;
    padding-top: 20px !important;
    padding-bottom: 0px;
}

.section:last-child {
    padding-bottom: 20px !important;
}

.main .flow-mouse-over-boxes .item .text-wrapper p {
    color: #190078;
    text-shadow: none;
    font-size: 24px;
}

.footer-column-1 {

}

.footer-column-1 .menu-footer-menue-container li {
    display: inline-block;
    margin-right: 40px;
}

.footer-column-1 .menu-footer-menue-container a {
    color: #fff !important;
    font-weight: 400;
}

@media (max-width: 1170px) {
    .lne-desktop-menu nav > ul {
        width: 100%;
    }
}

@media (min-width: 981px  ) {
    .sidebar {
        margin-top: -70px !important;
    }
}

@media (min-width: 981px) and (max-width: 1169px) {
    .lne-desktop-menu .top-menu-item a {
        font-size: 14px;
    }
}

@media (max-width: 980px) {

    .sidebar {
        margin-top: 20px !important;
    }

    .lne-desktop-menu {
        display: none;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin: 0px !important;
        margin-bottom: 20px !important;
        margin-top: 5px !important;
    }

    .logo img {
        height: 100px !important;
        max-height: 100px !important;
    }

    .menu-icon {
        float: none !important;
        width: 110px;
        padding: 0;
        margin: 0 auto !important;
        font-size: 24px !important;
        color: #fff;
        text-transform: uppercase;
        background-position: right 7px !important;
        background-size: 31px 20px !important;
        background-repeat: no-repeat;
        background-image: url("img/lne-toggle.png") !important;
    }

    .lne-mobile-menu-item {
        display: block;
    }

    .menu-icon-wrapper {
        clear: both;
        overflow: auto;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #44494B;

    }

    #topSlider {
        display: none;
    }

    .main .flow-mouse-over-boxes .item .text-wrapper p {
        color: #190078;
        text-shadow: none;
        font-size: 18px;
        padding-top: 0px;
    }

    .main .flow-mouse-over-boxes h3 {
        padding-bottom: 5px;
        font-size: 21px !important;
    }
}

.anmeldung-bgm {

}

.anmeldung-bgm h1 {
    color: #dc936a;
    font-weight: normal;
    font-size: 20pt;
    margin: 0px;
}

.anmeldung-bgm h2.headline {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 30px;
}

.anmeldung-bgm h2 {
    font-size: 12pt;
    font-weight: bold;
    color: #58585a;
}

.anmeldung-bgm h3 {
    border-top: 1px solid #dc936a;
    border-bottom: 1px solid #dc936a;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #58585a;
}

.anmeldung-bgm h4 {
    color: #dc936a;
    font-weight: bold;
}

.anmeldung-bgm p {
    padding-left: 0px;
    font-size: 14pt;
    margin-bottom: 0px;
    color: #58585a;
}

.anmeldung-bgm span.label {
    color: #003b81;
    font-weight: bold;
    font-size: 13pt;
    display: inline-block;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.anmeldung-bgm p.small {
    color: #58585a;
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 20px;
}

.flow-checkbox {
    margin-top: 5px;
    width: 100%;
}

.flow-checkbox:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.flow-inline-checkbox {
    display: block;

    width: 20px;
    margin: 0px;
    padding: 0px;
    float: left;
}

.flow-inline-label {
    font-size: 12pt;
    display: block;
    width: 90%;
    float: left;
}

.main .flow-mouse-over-boxes .item .text-wrapper h3 {
    font-size: 18px;
}

.main .flow-mouse-over-boxes .item .text-wrapper p {
    font-size: 15px;
    line-height: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
}

.main .flow-mouse-over-boxes {
    padding: 0;
}

.main .flow-mouse-over-boxes .item {
    border-radius: 50%;
}

.flow-mouse-over-boxes .col-xs-12 {
    padding-left: 7px;
    padding-right: 7px;
}

@media (max-width: 1100px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 1.1vw;
    }
}

@media (max-width: 1020px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 1vw;
    }
}

@media (max-width: 991px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 1.9vw;
        line-height: 3.5vw;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (max-width: 767px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 3vw;
        line-height: 9.5vw;
        padding-left: 17vw;
        padding-right: 17vw;
    }
}

@media (max-width: 1350px) {
    .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 1.1vw;
        line-height: 16px;
    }
}

@media (max-width: 580px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 3vw;
        line-height: 8vw;
    }
}

@media (max-width: 380px) {
    .wrapper .main .flow-mouse-over-boxes .item .text-wrapper p {
        font-size: 3vw;
        line-height: 6vw;
    }
}

@media (max-width: 925px) {
    .lne-mobile-menu-item .dropdown-menu, .dropdown .dropdown-menu {
        display: block;
    }
}

#main-menu li.lne-mobile-menu-item:last-child ul {
    margin-bottom: 50px;
}