﻿html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    background-image: url('img/background-body.png');
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #222222;
}

a {
    color: #53689d;
    text-decoration: none;
}

a:hover{
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;

}

p{
    font-size: 16px;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    max-width: 1170px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.wrapper .feature{
    padding-top: 66px;
}


.wrapper-full-width {
    min-width: 100%;
    width: 100%;
    margin: 0px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wrapper-full-width .feature{
    padding-top: 0px;
}

.main-sidebar-left .section, .main-sidebar-right .section{
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.header {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.wrapper .header-transparent{
    background-color: rgba(255, 255, 255, 1);
}

.wrapper-full-width .header-transparent{
    background-color: rgba(255, 255, 255, 0.75);
}

.wrapper-full-width .header{
    border-left: none;
    border-right: none;
}

.header-not-transparent {
    background-color: #fff;
}

.wrapper .header-fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    padding: 0px;
    max-width: 1170px;
}

.wrapper-full-width .header-fixed-top {
    max-width: 100%;
    width: 100%;
}

.header .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.header .container .navbar-header{
    min-height: 65px;
}

.header .container nav {
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
}

.header .container nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.header .container nav ul li.active a {
    color: #fff;
    text-decoration: underline;
}

.header .container nav .dropdown-menu {
    background-color: rgba(96, 96, 96, 0.95);
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(96, 96, 96, 1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(96, 96, 96, 1);
    box-shadow: inset 0px 0px 0px 1px rgba(96, 96, 96, 1);
    border-radius: 0;
}

.header .container nav .dropdown-menu > li > a, .header .container nav .dropdown-menu > li.active > a {
    color: #fff !important;
    text-transform: none;
    font-weight: normal;

}

.header .container .navbar .navbar-nav li.active .dropdown-menu li > a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;

}

.header .container nav .dropdown-menu > li > a:hover, .header .container nav .dropdown-menu > li.active > a {
    background-color: rgba(45, 45, 45, 1) !important;
    background: rgba(45, 45, 45, 1) !important;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: normal;

}

.header .container .logo {
    padding: 0px;
    max-height: 65px;
    float: left;
}

.header .container .logo img {
    max-height: 65px;
}

.header .container nav .logo a:hover {
    text-decoration: none;
}

.header .container .navbar .logo a h1 {
    color: #555;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 15px;
    font-size: 28px;
}

.header .container nav .logo a p {
    margin: 0px;
    padding: 0px;
    color: #252525;
}

.header .container .navbarXs{
    text-align: center;
}

.header .container .navbarXs h1{
    margin-top: 20px;
    font-size: 24px;
    line-height: 8px;
}
.header .container nav  p {
    margin: 0px;
    padding: 0px;
    color: #252525;
}


.header .container .navbar {
    min-height: 65px;
}

header .menu-toggle,.header .navbar-toggle{
    border: none;
}

.header .container .navbar .navbar-nav > li > a {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 45px;
    font-size: 16px;
    padding-left: 0px;
    margin-top: 10px;
    font-weight: 500;
}

.header .menu-icon{
    display: none;
    font-size: 18px;
    padding: 0px;
    background-position:  right top;
    padding-right:35px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 32px;
}

.header .menu-icon:hover{
    cursor: pointer;
}

.header .menu-icon img{
    width:25px;
    height: 25px;
}

.header .container .navbar .navbar-nav li.active a {
    color: #428bca;
}

.header .dropdown-menu > .active > a {
    background: none;
}

.header .container .navbar .navbar-toggle {
    margin-top: 20px;
    padding: 8px 9px;
}

.header .container .navbar .navbar-collapse {

}

.feature {
    padding-top: 0px;
}

.feature .container {
    text-align: left;
}

.feature h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
    background-image: none;
}

.carousel .item img {
    width: 100%;
}

.slider-nav {
    margin-top: -61px;
}

.slider-nav li {
    z-index: 10 !important;
    background-color: rgba(96, 96, 96, 0.5);
    border-top: 1px solid #000;
}

.slider-nav li.active > a,
.slider-nav li:hover > a {
    background-color: rgba(50, 50, 50, 0.5);
}

.slider-nav .nav li.active span.title, .slider-nav .nav li.active span.small {
    color: rgba(255, 255, 255, 1);
}

.slider-nav .nav a span.title {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.slider-nav .nav a small {
    display: block;
    min-height: 20px;
    color: rgba(255, 255, 255, 1);
}

.slider-nav .nav a {
    border-radius: 0px;
}

.main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.main .flow-list{
    padding-left:80px;
    padding-right:80px;
}

.main .flow-list .row {
    padding-bottom: 10px;
    margin-bottom:20px;
}

.main .flow-boxes {
    margin-top: 20px;
    margin-bottom: 20px;
}


.main .flow-boxes .read-more{
    text-align: right;
}

.main .flow-boxes img{
    width: 100%;
}

.main .flow-boxes .item h3{
    font-size: 19px;
    margin-bottom: 3px;
}

.main .flow-boxes .item p{
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

.main .flow-mouse-over-boxes{
    margin-bottom: 30px;
    padding-left:50px;
    padding-right:50px;
}


.main .flow-mouse-over-boxes .item{
    width:100%;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.main .flow-mouse-over-boxes .item img{
    width: 100%;
    height: 100%;
}

.main .flow-mouse-over-boxes .item .text-wrapper{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.main .flow-mouse-over-boxes .item .text-wrapper h3{
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-top: 15px;
    margin: 0px;
    padding-bottom:15px;
}

.main .flow-mouse-over-boxes .item .text-wrapper p{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.main .flow-mouse-over-boxes .item .text-wrapper .btn-default{
    margin-top: 10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: none;
    border-radius: 7px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: none;
    background-color: rgba(50, 50, 50, 0.5);
    color: rgba(255, 255, 255, 1);
    margin-top:10px;

}

.main .flow-columns .item p{
    text-align: left;
}

.main .flow-columns-horizontal .item{
    min-height: 140px;
}

.main .flow-boxes .item .read-more a{
    font-size: 14px;
    text-decoration: underline;
}

.main .flow-img-wrapper img{
    width: 100%;
}

.flow-boxes .show-all{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main .flow-columns .item{
    margin-bottom: 20px;
}

.main .flow-columns h3{
    text-align: center;
}

.main .flow-columns .item img {
    width: 100%;
    margin-bottom: 20px;
}

.main .flow-columns .flow-img-wrapper {
    padding-left:10px;
    padding-right:10px;
}

.main .flow-columns a.read-more{
    text-align: right;
}

.flow-columns-pricing .item{
    padding-top: 40px;
}

.flow-columns-pricing .pricing-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05) inset, 0 1px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05) inset, 0 1px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05) inset, 0 1px 3px rgba(0, 0, 0, 0.125);
}

.flow-columns-pricing .title-wrapper{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    background: rgba(0, 0, 0, 0.75);
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 82px;
    margin-top: -120px;
    background-position: center, center;
    background-size: cover;
}

.flow-columns-pricing h3{
    font-size: 28px !important;
    color: #fff !important;
    font-weight: 700;
}

.flow-columns-pricing h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #42577b;
    font-weight: 700;
    font-style: italic;
}

.flow-columns-pricing .item ul{
    padding: 0px;
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.flow-columns-pricing .item ul li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #252525;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #f2f2f4;
    line-height: 24px;
    font-size: 18px;
}


.flow-columns-pricing .btn{
  width: 50%;
    font-weight: bold;
}

.main .flow-accordions{

}

.main .flow-accordions .flow-img-wrapper{
 padding: 0px;
}

.main .flow-accordions .flow-img-wrapper img {
  width: 100%;
  border-radius: 6px !important;
}

.carousel-inner a img{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.carousel-inner img:hover{
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}

.main .container-full-width {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main .content{
    min-height: 400px;
}
.main .content .container {
    width: 100%;
}

.main-full-width {
    padding: 0px;
    margin: 0px;
}

img.circle {
    border-radius: 50%;
}

img.squared {
    border-radius: 100%;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
    background-repeat: repeat-x;
    border-color: #cccccc #cccccc #b4b4b4;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-size: 16px;
}

.btn-primary {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #48abdc;
    background-color: #48abdc;
    background-image: none;
    box-shadow: none;
    font-size: 16px;
}

.btn-primary:hover {
    color: #fff;
}



.main .flow-filter {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main .flow-filter a {
    color: #848484;
    text-decoration: none;
}

.main .flow-filter a:hover,
.main .flow-filter .active {
    text-decoration: none;
    color: #42576a;
    font-weight: bold;
}

.main .flow-filter a:after {
    content: ' | ';
}

.main .flow-filter a:last-child:after {
    content: '';
}

.main .post-thumbnail {
    margin-right: 0px;
    padding:0px;
}

.main .columns-shortcode {

}

.main .columns-center{
}

.main .blog-slider img{
    border-radius: 6px;
}

.main .our-services ul li{
}


.main .columns-shortcode img {
    max-width: 100%;
}

.sidebar {
    margin-top: -20px;
}

.sidebar .widget {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cfcfe4;
}

.sidebar .widget h2.widgettitle {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.sidebar .widget_search {
    margin-top: 20px;
}

.sidebar .widget_search label {

}

.sidebar .widget_search .widgettitle {
    display: none;
}

.sidebar .widget_seach input[type="submit"] {
    display: none;
}

.sidebar li {
    list-style: none;
    padding: 0px;
}

.sidebar .post-date {
    display: block;
    margin-bottom: 10px;
}

.sidebar .widget_nav_menu ul.menu li {

}

.sidebar .widget_nav_menu ul.menu li ul {
    border: none;
    padding-left: 20px;
}

.sidebar .widget_nav_menu ul.menu li ul li {
    border: none;
}

.sidebar .widget_nav_menu {
    list-style: none;
}

.sidebar .widget_nav_menu ul.menu {
    list-style-type: none;
}

.sidebar a {
    font-weight: 600;
    font-size: 14px;
}

.sidebar a:hover {
    text-decoration: underline;
}

.flow-search-form {

}

.flow-search-form input.form-control {
    border-radius: 0;
}

.footer {
    position: relative;
    width: 100%;
    padding-top: 20px;
    background-color: #000;
    font-size: 14px;
    line-height: 1.65em;
}

.footer .widget_nav_menu {
    list-style: none;
}

.footer .widget_nav_menu * {
    text-decoration: none;
}

.footer .widget_nav_menu ul.menu {
    padding: 0px;
    list-style-type: none;
}

.footer li.widget_recent_entries, .footer li.widget_recent_entries *,
.footer li.widget_meta, .footer li.widget_meta *,
.footer li.widget_archive, .footer li.widget_archive *,
.footer li.widget_categories, .footer li.widget_categories *,
.footer li.widget_recent_comments, .footer .widget_recent_comments *,
.footer li.widget_pages, .footer .widget_pages * {
    padding: 0px;
    list-style-type: none;
}

.footer form label {
    color: #fff;
}

.footer form * {
    color: #000;
}

.footer .widget_nav_menu ul.menu li {
    text-align: left;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a, .footer li, .footer .widget_calendar, .footer caption, .footer span.post-date {
    color: #fff;
    list-style-type: none;
}

.footer .widget_nav_menu ul.menu li ul {
    border: none;
    padding-left: 20px;
}

.footer .widget_nav_menu ul.menu li ul li {
    border: none;
}

.footer .widgettitle {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.footer p {
    color: #fff;
}

.footer .row{
    margin: 0 auto;
    max-width: 1100px;
}


.flow-pagination-list {
    text-align: center;
}

.flow-pagination-list a {
    cursor: default;
    border-radius: 0;
}

.flow-pagination-list a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.flow-pagination-previous-next-links a {
    border-radius: 3px !important;
}

.flow-max-width {
    width: 100%;
}

.comments-area {
    margin-top: 20px;
}

.comments-area .comment {

}

.comment-respond {
    margin-top: 20px;
}

.comments-area .comment-respond .comment-form label {
    display: block;
}

.comments-area .comment-respond .comment-form input, .comment-form textarea {
    width: 100%;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    background-color: #fff;
    background-image: url('img/top-shadow.png');
    background-position: 0% 0%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.section .container{
    -vendor-animation-duration: 10s;
    -vendor-animation-delay: 10s;
}

.section:first-child{
    background-image: none;
    border-top: 1px solid #aaa;
}

.section:last-child{
    border-bottom: 1px solid #aaa;
}

.section .container {
    max-width: 1170px;
}

.section-blank{
    border: none !important;
    background-image: none !important;
}

.content-slider .carousel-control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
}


.section-headline:after {
    content: "";
    width: 60%;
    display: block;
    height: 2px;
    background: #337ab7;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 20px;
}

.section .section-headline {
    position: relative;
    text-align: center;
}

.section-headline h2, .section h3 {
    margin: 0px;
    padding: 0px;
    color: #252525;
    font-size: 28px;
}

h3, h4 {
    margin-bottom: 5px;
    font-size: 19px;
}

.section h3.section-subline{
    margin: 0px;
    margin-top:-17px;
    padding: 0px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

p {
    padding: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #414141;
}

.small{
    font-size:14px;
}

.big{
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}

 ul.sprite-list {
    margin: 0px;
    padding: 0px;
}

 ul.sprite-list li {
    list-style: none;
    color: #414141;
    margin-top: 5px;
    font-size: 15px;
    background-repeat: no-repeat;
    padding: 0px;
    padding-left: 10px;
}

 ul.sprite-list li:before {
    margin: 7px;
    margin-left: 0;
    padding: 0;
    padding-left: 15px;
    width: 16px;
    height: 16px;
    background: url(img/list-sprites.png);
    background-position: left center;
    background-size: 10px;
    background-repeat: no-repeat;
    list-style: none;
    content: "";
    line-height: 18px;
}

ul.sprite-list li.check:before {
    background-position: 0 -15px;
}

ul.sprite-list li a {
    color: inherit;
    text-decoration: inherit;
}

ul.sprite-list li a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.section-background{
    background-repeat: no-repeat;
    background-color: #EEE;
    background-position: center, center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.section-background h2{
    color: #fff;
}

.section-background .section-headline:after{
    background: #fff;
}

.section-background .read-more a{
    color: #fff;
}

.section-background h3, .section-background h3 a{
    color: #fff !important;
    font-weight: bold;
}

.section-background p{
    color: #fff !important;
}

.section-background ul li{
    color: #fff !important;
}

.grey-section {
    background-color: #f5f5f5;
}

.grey-section h2 {
    margin: 0px;
}

.dark-section {
    background-color: #333;
    border-bottom: 1px solid #aaa;
    color: #fff;
}

.dark-section .section-headline h2{
    margin: 0px;
    color: #fff;
}

.dark-section h3.section-subline{
    color: #fff;
}

.dark-section p {
    color: #fff;
}

.carousel img:hover {

}

.carousel-caption {
    top: 25%;
}

.carousel-caption .btn-primary{
    margin-top: 10px;
}

.carousel-caption .btn-default{
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: none;
    background-color: rgba(50, 50, 50, 0.5);
    color: rgba(255, 255, 255, 1);
    margin-top:10px;
}

.carousel-caption .btn-default:hover, .main .flow-mouse-over-boxes .item .text-wrapper .btn-default:hover {
    background-color: #fff;
    color: rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.5);
}

#topSlider .item {
    background-repeat: no-repeat;
    background-color: #EEE;
    background-size: cover;
}

#topSlider .carousel-inner {
    height: 100%;
}

#topSlider .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 70%;
    margin: -100px 0 0 -35%;
    font-size: 30px;
    color: #fff;
}

#topSlider .caption-wrapper{
    border: 1px solid #000;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

#topSlider .carousel-caption h3 {
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 25px;
}

#topSlider .carousel-caption p {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

.content-slider .item{
    padding-left:30px;
    padding-right: 30px;
}


.content-slider .carousel-control {
    top: 50%;
}

.content-slider .carousel-control span {
    top: 0px;
}

.thumbnail-slider div {
    margin-bottom: 10px;
}

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #337ab7;
}

.modal-dialog {
    margin-top: 50px;
}

.modal-shortcode .modal-header {
    background-color: #f5f8f8;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
    color: #151813;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12px;
}

.modal-shortcode .modal-footer {
    padding-top: 5px;
    padding-bottom: 10px;
}

.video-modal .modal-footer {
    display: none;
}

.video-modal .modal-body {
    padding: 0px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

pre {
    border-radius: 0px;
    background-color: #fff;
    color: #000;
}

.visible,
.hidden {
    overflow: hidden;
    /* This container should not have padding, borders, etc. */
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible > div,
.hidden > div {
    /* Put any padding, border, min-height, etc. here. */
}

.hidden > div {
    margin-top: -10000px;
    transition: margin-top 0s 2s;
}

.flow-widget-show-entries {

}

.flow-widget-show-entries .item a h4{
    margin: 0px;
    font-size: 16px;
    text-decoration: underline;
}

.flow-widget-show-entries .item a p{
    font-weight: normal;
    font-size: 16px;
    color: #252525;
}

.flow-widget-show-entries img {
    width: 100%;
    margin-bottom: 10px;
}

.footer .flow-widget-show-entries .item a *{
    color: #fff;
}

.blog .author {
    text-align: center;
}

.blog .author a {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

.feature-without-slider {
    padding-top: 66px;
}

.main .our-services .row{
    margin: 0 auto;
    max-width: 1100px;

}

.main .our-services ul li{
    margin-top: 20px;
}


@media(max-width: 1200px){
    .container{
        width: 100%;
        padding-left:20px;
        padding-right:20px;
    }
}

@media (max-width: 767px) {

    .slider-nav {
        display: none;
    }

    #topSlider .item{
        background-position: center, center;
    }

    .logo img{
        height: 50px;
    }



    #topSlider .carousel-caption {
        position: absolute;
        top: 70px;
        left: 50%;
        width: 70%;
        margin: 0px 0 0 -35%;
        font-size: 15px;
        color: #fff;
    }

    .main .section .section-headline h2{
        font-size: 18px;
    }

    .section p {
        padding: 0px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .section p.small{
        font-size:13px;
    }

    .section p.big{
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
    }

    .section h3.section-subline{
        font-size: 18px;
        line-height: 24px;
    }


    .main .section .col-xs-12{
        margin-top: 20px;
    }

    .main .flow-columns .flow-img-wrapper {
        padding-left:0px;
        padding-right:0px;
    }
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0
    }

    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px
    }
}

@media (max-width: 980px){

    .navbar-header {
        float: none;
    }

    .header .menu-icon {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-right .dropdown-menu{
        position: relative;
        width: 100%;
    }

    .header .main-menu-wrapper{
        padding: 0px;
        margin: 0px;
    }

    #main-menu{
        max-height:100%;
        overflow:auto;
    }

    .flow-columns-pricing .item ul{
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
    }


    .main .flow-mouse-over-boxes{
        margin-bottom: 30px;
        padding-left:0px;
        padding-right:0px;
    }


    .main .flow-mouse-over-boxes .item{

    }

    .main .flow-mouse-over-boxes .item img{
        width: 100%;
        height: 100%;
    }

    .main .flow-mouse-over-boxes .item .text-wrapper{

    }

    .main .flow-mouse-over-boxes .item .text-wrapper h3{
        font-size: 30px;
        padding-top: 15px;
        margin: 0px;
        padding-bottom:15px;
    }

    .main .flow-mouse-over-boxes .item .text-wrapper p{
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        line-height: 20px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    }
}
